.lc-portfolio-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .lc-portfolio-bio__banda-principal{
        margin-top: 390px;
        margin-bottom: 30px;
        h1{
            color: #E7E7E7;
            span{
                color: #93fbff;
            }
        }
        p{
            color: #E7E7E7;
        }
    }
    #circulo-1{
        display: flex;
        position: absolute;
        left: 30px;
        top: 200px;
        opacity: 0.5;
        width: 100px;
        height: 100px;
    }
    #circulo-2{
        display: flex;
        position: absolute;
        left: 200px;
        width: 120px;
        height: 120px;
        opacity: 0.8;
    }
    #circulo-3{
        display: flex;
        position: absolute;
        width: 150px;
        height: 150px;
        opacity: 0.1;
        top: 120px;
    }
    
}

@media (min-width:600px) {
    .lc-portfolio-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -100px;
        .lc-portfolio-bio__banda-principal{
            
            h1{
                font-size: 50px;
            }
            p{
                font-size: 20px;
            }
        }
        #circulo-1{
            display: flex;
            position: absolute;
            left: 350px;
            top: 150px;
            opacity: 0.5;
            width: 200px;
            height: 200px;
        }
        #circulo-2{
            display: flex;
            position: absolute;
            left: 300px;
            top: 330px;
            opacity: 0.5;
            width: 50px;
            height: 50px;
        }
        #circulo-3{
            display: flex;
            position: absolute;
            left: 150px;
            top: 200px;
            opacity: 0.5;
            width: 100px;
            height: 100px;
        }
    }
}
@media (min-width:800px) {
    .lc-portfolio-bio{
        display: flex;
        align-items: flex-end;
        margin-right: 150px;
        .lc-portfolio-bio__banda-principal{
           
        }
        #circulo-1{
            display: flex;
            position: absolute;
            left: 350px;
            top: 150px;
            opacity: 0.5;
            width: 200px;
            height: 200px;
        }
        #circulo-2{
            display: flex;
            position: absolute;
            left: 200px;
            top: 430px;
            opacity: 0.5;
            width: 250px;
            height: 250px;
        }
        #circulo-3{
            display: flex;
            position: absolute;
            left: 150px;
            top: 200px;
            opacity: 0.5;
            width: 100px;
            height: 100px;
        }
    }
   
}

