.lc-portfolio-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .lc-portfolio-bio__banda-principal{
        margin-top: 390px;
        margin-bottom: 30px;
        h1{
            color: #E7E7E7;
            span{
                color: #93fbff;
            }
        }
        p{
            color: #E7E7E7;
        }
    }
    #circulo-1{
        display: flex;
        position: absolute;
        left: 30px;
        top: 200px;
        opacity: 0.5;
        width: 100px;
        height: 100px;
    }
    #circulo-2{
        display: flex;
        position: absolute;
        left: 300px;
        width: 120px;
        height: 120px;
        opacity: 0.8;
    }
    #circulo-3{
        display: flex;
        position: absolute;
        width: 150px;
        height: 150px;
        opacity: 0.1;
        top: 120px;
    }
    
}