<div class="lc-bioportfolio-beneficios">
    <img src="/assets/img/Group 481727.png" alt="">
    <h2>Adaptativo</h2>
    <p>Somos especialistas en diseño adaptativo, velamos por el Mobile First</p>
    <img src="/assets/img/gruposeguridad.png" alt="">
    <h2>100% SSL</h2>
    <p>Todos tus dominios contaran con certificados SSL, brindando fiabilidad</p>
    <img src="/assets/img/grupoavion.png" alt="">
    <h2>Lo hacemos todo por ti!</h2>
    <p>Así es, como lo lees, todo! Tu solo debes preocuparte en pensar la idea y nosotros nos pondremos manos a la obra</p>
</div>