.container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
    background: linear-gradient(rgba(94, 94, 94, 0.1), rgba(0, 0, 0, 0.1), rgba(94, 94, 94, 0.7));
    h2{
        font-size: 34px;
        color: white;
    }
    p{
        font-size: 14px;
        color: whitesmoke;
    }
    button{
        width: 190px;
        height: 45px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(rgba(222, 249, 250, 1), rgba(190, 243, 245, 1), rgba(157, 237, 240, 1), rgba(125, 231, 235, 1), rgba(92, 225, 230, 1), rgba(51, 187, 207, 1));
    }
}

