<div class="hero"></div>
<body>
    <section>
        <img src="/assets/img/fotis-fotopoulos-SyvsTmuuZyM-unsplash.jpg" alt="">
        <h2>Luis Flores</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda consequuntur beatae id laboriosam asperiores, cupiditate, tenetur earum ratione quam veritatis ipsam, consectetur eligendi modi tempora mollitia minus nam ea. Temporibus?
        Cum explicabo sunt nisi animi quas dicta, ut perferendis reprehenderit amet? Accusantium aperiam eveniet temporibus voluptates. Consequatur laboriosam labore voluptatum ad, accusamus error temporibus doloribus sint accusantium, veniam molestiae omnis?</p>
    </section>
</body>