<div class="box-principal-services">
  <div class="box-principal-services__diseño-web">
    <h3>Diseño Web</h3>
    <p>
      Transformo ideas en experiencias visuales <strong>cautivadoras</strong>.
      Desde el concepto hasta la implementación, cada sitio web que creo es una
      fusión de <strong>estética</strong> y <strong>funcionalidad</strong>.
      Desarrollo diseños web <strong>intuitivos</strong> y
      <strong>atractivos</strong> que no solo impresionan visualmente, sino que
      también mejoran la experiencia del usuario.
    </p>
  </div>
  <div class="box-principal-services__marketing-digital">
    <h3>Marketing Digital</h3>
    <p>
      Potencio tu presencia en línea con estrategias de
      <strong>marketing digital</strong> innovadoras. Desde
      <strong>campañas en redes sociales</strong> hasta estrategias de
      <strong>contenido</strong>, trabajo para aumentar tu
      <strong>visibilidad</strong> y conectar con tu
      <strong>audiencia objetivo</strong>. Con enfoque en resultados tangibles,
      mi objetivo es impulsar tu <strong>marca</strong> y convertir visitantes
      en <strong>clientes</strong>.
    </p>
  </div>
  <div class="box-principal-services__posicionamiento">
    <h3>Posicionamiento Web</h3>
    <p>
      Eleva tu sitio a nuevas alturas en los motores de
      <strong>búsqueda</strong>. Utilizando técnicas de
      <strong>SEO avanzadas</strong>, optimizo tu
      <strong>contenido</strong> para que destaque en las
      <strong>búsquedas</strong> relevantes. Desde la
      <strong>investigación de palabras clave</strong> hasta la optimización
      <strong>técnica</strong>, garantizo que tu sitio no solo sea visto, sino
      que se destaque entre la <strong>competencia</strong>.
    </p>
  </div>
</div>
