<div class="box-principal-services">
  <div class="lc-porfolio-title-serivicos">
    <img src="/assets/img/Other 03.png" alt="">
  </div>
  <div class="box-principal-services__diseño-web">
    <img src="/assets/img/tradingcard.png" alt="">
    <h3>Diseño adaptativo</h3>
    <p>
      Nos fascina el diseño responsivo
    </p>
  </div>
  <div class="box-principal-services__marketing-digital">
    <img src="/assets/img/paymentmethod 1.png" alt="">
    <h3>Facilidades de pago</h3>
    <p>
      Jamás el dinero ha sido un problema
    </p>
  </div>
  <div class="box-principal-services__posicionamiento">
    <img src="/assets/img/securitycard.png" alt="">
    <h3>100% Seguros</h3>
    <p>
      Despreocupate, tus paginas web con  Certificado SSL
    </p>
  </div>
</div>
