.lc-porfolio-title-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    flex-direction: column;
    margin: auto;

    h2{
        font-weight: 400;
        font-size: 30px;
        color: white;
    }
    p{
        color: rgba(255, 255, 255, 0.7);
    }
}