.lc-porfolio-title-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.7);
    color: orange;
    height: 50px;

    h2{
        font-weight: 400;
        font-size: 30px;
        
    }
}