<header class="header">
    <div class="logo">Luis Flores</div>
    <input type="checkbox" id="toggle" />
    <label for="toggle"><img class="menu" src="assets/svg/boton.svg" alt="menu"/></label>

  
    <nav class="navigation">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li>
          <a href="#">Servicios</a>
          <ul>
            <li><a href="#">Marketing Digital</a></li>
            <li><a href="#">Diseño Web</a></li>
            <li>
              <a href="#">Estrategia SEO / SEM</a>
              <ul>
                <li><a href="#">SEO</a></li>
                <li><a href="#">SEM</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Sobre Mi</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
</header>
