

    <header class="header">
        <div class="logo">Luis Flores</div>
        <input type="checkbox" id="toggle">
        <label for="toggle"><img class="menu" src="assets/svg/boton.svg" alt="menu"></label>
        <nav class="navigation">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a>
                <ul>
                    <li><a href="#">Marketing Digital</a></li>
                    <li><a href="#">Diseño Web</a></li>
                    <li><a href="#">Estrategia SEO / SEM</a>
                        <ul>
                            <li><a href="#">SEO</a></li>
                            <li><a href="#">SEM</a></li>
                        </ul>
                    </li>
                </ul>
                </li>
                <li><a href="#">Sobre Mi</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero"></div>
<body>
    <section class="description">
        <h1>Hola, soy Luis Flores<span>Diseñador Digital</span></h1>
        <p>Desarrollador Web y Android especializandome en Marketing Digital.</p>
        <p>Soy estudiante de <strong>Diseño de Productos Digitales</strong></p>
    </section>
</body>
    